@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #DFB61D;
    border-radius: 10px;
    border: 3px solid #25262a;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #59da98;
}

::-webkit-scrollbar-track {
    background: #25262a;
}

::-webkit-scrollbar-thumb:active {
    background-color: #666;
}

body {
    background-color: #2d2e32;
}


/* navbar */
.header {
    position: relative;
}

.navbar {
    background-color: #25262a;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.navbar .logo {
    flex: 2;

}

.navbar .logo img {
    margin-left: 40px;
    cursor: pointer;
}

.navbar .links {
    flex: 5;

}

.navbar .links ul {
    display: flex;
    margin-left: 40px;
}

.navbar .links ul li {
    position: relative;
    list-style: none;
    margin-right: 50px;
    font-size: 1.1rem;
    cursor: pointer;
}

.navbar .links ul li:hover {
    text-shadow: 0 0 2px white;
}

.navbar .links ul li a {
    text-decoration: none;
    transition: all 0.4s ease;

}

.navbar .links ul li a.active::after,
.navbar .links ul li a:hover::after {
    content: '';
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: -4px;
    left: 0px;
}


.navbar .buttons {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .buttons i {
    font-size: 1.3rem;
    background-color: #2d2e32;
    padding: 18px;
    border-radius: 15px;
    color: #ffb326;
    cursor: pointer;
    transition: 0.6s ease-in-out;
    margin-right: 35px;

}

.navbar .buttons i:hover {
    background-color: #DFB61D;
    color: #25262a;

}

.navbar .buttons .contactbtn {
    color: #25262a;
    font-size: 1.1rem;
    padding: 14px 46px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(to right, #DFB61D, #b38c16);
    transition: background 0.3s ease;
    cursor: pointer;
    height: 56px;
    width: auto;
}

.navbar .buttons .contact:hover {
    background-position: right center;
}



.navbar .menu-btn i {
    font-size: 1.3rem;
    background-color: #2d2e32;
    padding: 18px;
    border-radius: 15px;
    color: #ffb326;
    cursor: pointer;
    transition: 0.6s ease-in-out;
    margin-right: 35px;
    display: none;
}

.navbar .menu-btn i:hover {
    background-color: #DFB61D;
    color: #25262a;
}

/* drop down menu */
.drop-down-menu {
    position: absolute;
    right: 50px;
    top: 100px;
    height: 0;
    width: 300px;
    background-color: transparent;
    border-radius: 20px;
    overflow: hidden;
    display: none;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1000;
    backdrop-filter: blur(10px);
}


.drop-down-menu.open {
    height: 240px;
}

.drop-down-menu li {
    list-style: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-down-menu li a {
    text-decoration: none;
}

.drop-down-menu li a i {
    font-size: 1.3rem;
    background-color: #2d2e32;
    padding: 18px;
    border-radius: 15px;
    color: #ffb326;
    cursor: pointer;
    transition: 0.6s ease-in-out;
}

.drop-down-menu li a i:hover {
    background-color: #DFB61D;
    color: #25262a;
}

@media (max-width:962px) {

    .navbar .links,
    .navbar .buttons {
        display: none;
    }

    .navbar .menu-btn i {
        display: block;
    }

    .drop-down-menu {
        display: block;
    }
}

@media (max-width:576px) {
    .drop-down-menu {
        left: 2rem;
        width: unset;

    }
}

/* contact */
.contact {
    margin-top: 100px;
    padding: 40px;
}


.contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;

}

.contact .left {
    flex: 5;

}

.contact .left .contact-g {
    color: #59da98;
    position: relative;
    margin-left: 30px;
    margin-bottom: 20px;
}

.contact .left .contact-g::before {
    content: '';
    background-color: #59da98;
    position: absolute;
    top: 8px;
    left: -26px;
    width: 1.5%;
    height: 1px;
}

.contact .left .heading {
    margin-bottom: 30px;
}

.contact .left .text {
    margin-bottom: 30px;
    font-size: 1.1rem;
    margin-bottom: 60px;
}

.contact .left .phone,
.contact .left .email {
    display: flex;
    align-items: center;
    width: 300px;
    cursor: pointer;
}

.contact .left .phone span,
.contact .left .email span {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.contact .left .phone:hover span,
.contact .left .email:hover span {
    background-color: #ffb326;
    color: #25262a;
}

.contact .left .phone:hover span i,
.contact .left .email:hover span i {
    color: #25262a;
}



.contact .left .phone .phone-icon,
.contact .left .email .email-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #25262a;
    text-align: center;
    line-height: 50px;
    padding: 20px;
}

.contact .left .phone .phone-icon i,
.contact .left .email .email-icon i {
    font-size: 1.5rem;
    color: #398b61;

}

.contact .left .phone {
    margin-bottom: 20px;
}

.contact .left .email {
    margin-left: 60px;
}

.contact .left .phone span,
.contact .left .email span {
    margin-right: 20px;
}

.contact .right {
    flex: 5;
}

.contact .right .contact-form .top {
    display: flex;
    align-items: center;
}

.contact .right .contact-form .top input {
    height: 50px;
    width: 50%;
    margin: 4px 20px;
    border-radius: 15px;
    border: 1px solid #59da98;
    outline: none;
    background-color: #25262a;
    padding: 4px 10px;
    font-weight: 500;
    font-size: 1rem;
}

.contact .right .contact-form .top input::placeholder {
    color: white;
}

.contact .right .contact-form .bottom {
    display: flex;
    align-items: center;
}

.contact .right .contact-form .bottom textarea {
    padding: 20px 10px;
    height: 200px;
    width: 100%;
    margin: 40px 20px;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 20px;
    border: 1px solid #59da98;
    outline: none;
    background-color: #25262a;
}

.contact .right .contact-form .bottom textarea::placeholder {
    color: white;
}

.contact .right .send {
    color: #25262a;
    font-size: 1.1rem;
    padding: 14px 46px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(to right, #DFB61D, #b38c16);
    transition: background 0.3s ease;
    cursor: pointer;
    height: 56px;
    width: auto;
    margin: 5px 20px;
}

.contact .right .send:hover {
    background-position: right center;
}



@media (max-width: 920px),
(max-width: 768px) {
    .contact {
        flex-direction: column;
    }

    .contact .left {
        margin-bottom: 50px;
        margin-top: -50px;
    }
}

@media (max-width: 480px) {
    .contact {
        flex-direction: column;
    }

    .contact .left {
        margin-bottom: 50px;
        margin-top: -50px;
    }

    .contact .left .email {
        margin-left: 30px;
    }

    .contact .right .contact-form .top input {
        margin: 4px 5px;
        border-radius: 10px;
        padding: 4px 10px;
    }

    .contact .right .contact-form .bottom textarea {
        padding: 20px 10px;
        margin: 20px 5px;
        border-radius: 15px;
    }
}

/* footer */

.footer {
    background-color: #25262a;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}

.footer .logo {
    flex: 2;

}

.footer .logo img {
    margin-left: 40px;
    cursor: pointer;
}

.footer .footer-text {
    flex: 4;
    font-weight: 400;
    font-size: 1rem;

}

.footer .footer-links {
    flex: 3;
    display: flex;
    align-items: center;
}

.footer .footer-links i {
    background-color: #2d2e32;
    padding: 22px;
    border-radius: 15px;
    margin-left: 40px;
    color: #ffb326;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.6s ease-in-out;

}

.footer .footer-links i:hover {
    color: #25262a;
    background-color: #ffb326;
}


@media (max-width: 920px),
(max-width: 768px) {

    .footer {
        flex-direction: column;
        height: 200px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .footer {
        width: 100%;
        flex-direction: column;
        height: 200px;
        margin: 5px auto;

    }

    .footer .footer-text {
        font-weight: 200;
        text-align: center;
    }

    .footer .footer-links i {
        margin-left: 20px;
    }
}

/* back to top button */
.scroll-top i {
    background-color: #fff;
    padding: 10px;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    margin-left: 40px;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.6s ease-in-out, color 0.6s ease-in-out, background-color 0.6s ease-in-out;
    line-height: 20px;
    position: fixed;
    right: 60px;
    bottom: 200px;
    z-index: 10;
    opacity: 0;
}

.scroll-top i.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-top i:hover {
    color: #ffb326;
    background-color: #252525;
    transform: translateY(-5px);
}

.scroll-top i:active {
    color: #ffb326;
    background-color: #fff;
    transform: translateY(-10px);
}